body {
  background-image: url(forest.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Orbitron", sans-serif;
  background-color: #004a2f;
}
.container {
  background-color: #ffc93c;
  opacity: 0.95;
  margin: 40px auto;
  margin-bottom: 10px;
  display: block;
  max-width: 500px;
  color: #155263;
  padding: 0px 20px 15px;
  border: solid;
  border-width: 12px;
  border-style: ridge;
  border-color: #ff9a3c #ff9a3c;
  border-radius: 4px;
}
h3 {
  margin: 5px auto;
  padding-bottom: 10px;
  text-align: center;
  font-weight: 800;
}
select {
  font-size: 18px;
  background-color: rgb(247, 223, 238, 75%);
  display: block;
  padding: 8px;
  width: 100%;
  border-radius: 4px;
}
h2 {
  margin: 0 auto;
  margin-left: 0px;
  padding: 10px 0px 8px;
  font-size: 30px;
  font-weight: 500;
}
.city-container {
  padding-top: 10px;
}
.city {
  display: flex;
  justify-content: space-evenly;
  margin: 10px auto;
  padding: 20px;
  border: solid;
  border-width: 2px;
  border-color: #ff6f3c #ff6f3c;
  border-radius: 8px;
}
.date {
  text-align: end;
  font-size: 16px;
  font-weight: 500;
}
small {
  font-size: 16px;
  font-weight: 500;
}
.time-font {
  font-size: 26px;
  font-weight: 800;
}
.return {
  color: #155263;
  font-weight: 500;
  font-size: 14px;
  position: relative;
  top: 6px;
  text-decoration: none;
}
footer {
  display: block;
  text-align: center;
  background-color: rgba(33, 32, 32, 0.6);
  padding: 5px;
  max-width: 500px;
  margin: 0 auto;
  margin-top: 20px;
  color: #ffc93c;
  font-weight: 500;
}
a {
  color: #ff6f3c;
}
